@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.App 
{
  background-color: rgb(251, 138, 18);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading 
{
  font-size: 3.5rem;
  font-weight: bold;
}
.timer 
{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  box-shadow: 0px 2px 10px   black;
  margin: 2rem;
}
input select 
{
  background-color: black;
  color: white;
}
label 
{
  font-size: 1.25rem;
  color: rgb(36, 36, 36);
  font-weight: bold;
}
input 
{
  padding: .5rem;
  font-size: 1.5rem;
  width: 100px;
  margin: 1rem;
  border: none;
  outline: none;
}

.buttonsDiv 
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonsDiv button 
{
  padding: .85rem 2.25rem;
  font-size: 1.15rem;
  cursor: pointer;
  margin: 0 1rem;
}
